<%- include('./layout/head.ejs')%> <%- include('./layout/navigation.ejs')%>
<main class="w-full max-w-7xl mx-auto mt-12">
    <h1 class="text-4xl text-center font-bold">page not found </h1>
</main>
<%-include('./layout/end.ejs')%>
