<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <header>
      <button
        class="block cursor-pointer focus:outline-none p-4 md:hidden border-2 border-yellow-500 rounded-md px-4 py-2 m-2 hover:bg-yellow-500 hover:border-white transition-colors"
        id="toggle-button"
      >
        open navbar
      </button>

      <ul
        id="slider-list"
        class="flex flex-col md:flex-row md:static md:w-full justify-start align-center gap-8 p-4 bg-yellow-500 [&>li]:cursor-pointer w-52 absolute top-0 bottom-0 transition-all -translate-x-60 md:translate-x-0"
      >
        <li class="text-xl font-semibold hover:text-blue-800 transition-colors">
          <a href="/"> home </a>
        </li>
        <li class="text-xl font-semibold hover:text-blue-800 transition-colors">
          <a href="/users">add user</a>
        </li>
        <li class="text-xl font-semibold hover:text-blue-800 transition-colors">
          <a href="/404">not found</a>
        </li>
      </ul>
    </header>
    <main class="w-full mx-auto">
      <h1 class="text-center text-2xl mt-8">notfound</h1>
    </main>
    <script src="/js/slider.js"></script>

  </body>
</html>