<form action="/addCart" method="post" class="mx-auto text-center">
  <input type="hidden" name="id" value="<%=product.id%>" />
  <input type="hidden" name="price" value="<%=product.price%>" />
  <button
    class="py-2 px-8 min-w-40 rounded-lg border border-cyan-600 text-black text-lg font-medium w-fit cursor-pointer hover:bg-cyan-600 hover:text-white text-center transition-colors duration-200 capitalize"
  >
    add to cart
  </button>
</form>
