<%- include('partial/head.ejs') %>
</head>
  <body>
    <%- include('partial/navigation.ejs') %>
    <main class="w-full max-w-6xl mx-auto mt-12">
      <h1 class="text-center text-2xl mt-8">this page is undefined 404 page</h1>
    </main>
  <%- include('partial/end.ejs') %>

