<div
  class="fixed inset-0 backdrop-blur overflow-y-hidden size-full bg-gray-700/60 hidden"
  id="overlay"
></div>
<div
  class="modal min-w-md h-fit p-6 rounded-2xl bg-white fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[999] scale-0 transition-all flex flex-col justify-between space-y-2"
  id="modal"
></div>
