<%- include("../includes/head.ejs") %>
<main class="w-full mx-auto mt-12">
  <h1 class="text-3xl text-center font-bold">
    this part wil be added soon!
  </h1>
</main>
<%- include("../includes/end.ejs") %>
